<IfModule mod_rewrite.c>
    RewriteEngine On

    # --- Force HTTPS (UNCOMMENT THIS ON LIVE SERVER) ---
    # RewriteCond %{HTTPS} off
    # RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # Set the base directory for the rewrite rules
    # ON LOCALHOST: Use /exam/
    # ON LIVE SERVER: Change this to /
    RewriteBase /exam/

    # If the request is not for a file or directory that exists
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redirect the request to public/index.php, passing the URL as a query parameter
    RewriteRule ^(.*)$ public/index.php?url=$1 [L,QSA]
</IfModule>
